.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand h1 {
  margin-left: 0.5rem; /* Adjust the space between the logo and the title as needed */
}

.navbar-brand img {
  height: 100px; /* Adjust the size of the logo as needed */
}

.navbar-links a {
  margin-left: 20px; /* Adjust link spacing as needed */
  text-decoration: none; /* Optional: Removes the underline from links */
  color: black; /* Or any color you prefer */
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .navbar-brand h1 {
    font-size: 1rem; /* Smaller font size for small screens */
  }

  .navbar-brand img {
    height: 30px; /* Smaller logo for small screens */
  }
}